.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients__title {
    margin-bottom: 50px;
}

.clients__list {
    display: flex;
}

.clients__item {
    display: inline-flex;
    &:not(:first-child) {
    margin-left: 30px;
}
}

.clients__icon {
    fill: currentColor;
}

.clients__link {
    min-width: 170px;
    min-height: 92px;
    flex-basis: 170px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--clients-border);
    color: var(--icon-color);
    border-radius: 4px;
    transition: color 250ms var(--timing-function),
    border 250ms var(--timing-function);

        &:hover,
        &:focus {
            border: 1px solid var(--accent-color);
            color: var(--accent-color);
        }
}