.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-background-color);
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq(tablet) {
            padding-left: 76px;
            padding-right: 89px;
        }

                @include mq(desktop) {
                    flex-direction: row;
                    padding-left: 15px;
                    padding-right: 15px;
                }
}

 .footer__thumb {
    @include mq(tablet) {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        @include mq(desktop) {
            justify-content: start;
        }
 }


@import "./address";

@import "./join";

@import "./subscription";