.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-background-color);
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    
    @include mq(desktop) {
        align-items: baseline;
        flex-direction: row;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.footer__thumb {
    
    margin-bottom: 60px;

    @include mq(tablet) {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        width: 100%;
        margin-bottom: 60px;
    }

    @include mq(desktop) {
        width: auto;
        justify-content: start;
        margin-bottom: 0;
    }
 }

@import "./address";

@import "./join";

@import "./subscription";