.logo {
    display: block;
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;

    @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
    }
}

.logo--light-theme {
    color: var(--title-color);
}

.logo--dark-theme {
    margin-right: 0;
    margin-bottom: 20px;
    color: var(--white-color);
    text-align: center;

    @include mq(desktop) {
        text-align: left;
    }
}

.logo__accent {
    color: var(--accent-color);
}