.mobile-menu {
    border-radius: 4px;
    box-shadow: var(--portfolio-card-shadow);
    &__icon {
    fill: currentColor;
}

    &__open {
        opacity: 1;
    }

    &__close {
        opacity: 0;
    }
}