.button-close {
    position: absolute;
    display: inline-flex;
    top: 8px;
    right: 4px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
    color: #000;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms var(--timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
    .button-close__icon {
        width: 18px;
        height: 18px;
        fill: currentColor;
        transition: color 250ms var(--timing-function);
    }
}