.button {
    border: none;
    display: inline-block;
    min-width: 200px;
    border-radius: 4px;
    padding: 10px 32px;
    background-color: var(--accent-color);
    color: var(--white-color);
    transition: background-color 250ms var(--timing-function);

    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    &:hover,
    &:focus {
        background-color: var(--hover-color);
    }
}

.subscription__button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button__icon {
    margin-left: 10px;
}