body {
    background-color: var(--primary-bkgrnd);
    color: var(--text-color);
    font-family: var(--primary-font);
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 1200px;
    padding: 0 15px;
}

.title {
    margin: 0;
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

img {
    display: block;
    max-width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}